<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
   



    </style>
    <title>Quiz</title>
</head>

<body>

<div class="container">


    <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
    <div class="text-box"><img src="img/Group2163.png" alt="" id="grp48"></div>
    <!-- <div class="back-box"><a href="/intro"><img src="img/Group50.png" id="grp46"></a></div> -->
    
        <div class="ques">
            <p>Example Questions : blah bah blah balh blah blah?
                please choose the correct option <b id="infoSign" class = "material-symbols-outlined">info</b>
            </p>
        </div>
        <div class="opt" id="opt-1">
            <img src="img/Rectangle24.png" alt="">
            <p>Option 1</p>
        </div>
        <div class="opt" id="opt-2">
            <img src="img/Rectangle24.png" alt="">
            <p>Option 2</p>
        </div>
        <div class="opt" id="opt-3">
            <img src="img/Rectangle24.png" alt="">
            <p>Option 3</p>
        </div>
        <div class="opt" id="opt-4">
            <img src="img/Rectangle24.png" alt="">
            <p>Option 4</p>
        </div>
        
    
    <div class="next-box"><a href="/intro2"><img src="img/Group46.png" id="grp46"></a></div>



</div>




</body>

</html>