<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style7.css">


    </style>
    <title>Quiz</title>
</head>

<div class="container">

    <!-- <div class="back-box"><a href="/intro4"><img src="img/Group50.png" id="grp46"></a></div> -->
    <div class="text-box"><img src="img/Group54.png" alt="" id="grp48"></div>
    <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
    <div class="next-box"><a href="/ques?id=1"><img src="img/Group46.png" id="grp46"></a></div>



</div>

<body>


</body>

</html>