<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index9.css">


    </style>
    <title>Quiz</title>
</head>

<body>

    <div class="container">


        <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
        <div class="text-box"><img src="img/Group2165.png" alt="" id="grp48"></div>


        <div class="opt" id="opt-1">
            <img src="img/Group4070.png" alt="">
            <p>User Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="opt" id="opt-2">
            <img src="img/Group2162.png" alt="">
            <p> Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="opt" id="opt-3">
            <img src="img/Group2162.png" alt="">
            <p>Multifactor Authen Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="opt" id="opt-4">
            <img src="img/Group2162.png" alt="">
            <p>Multi Lorem ipsum dolor sit amet consectetur.</p>
        </div>

        <div id="submit"><img src="img/Group2142.png" alt=""></div>




    </div>




</body>

</html>