<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style0.css">
    <title>Quiz</title>
</head>

<body>
    
    
    <div id="txt"><p>Cybersecurity</p>
    <p>Self Assesment based on IEC/ISA 62443</p></div>
    <div id="btn"><a href="/intro" role="button"><img src="img/Group39.svg" alt=""></a></div>
    <div class="bg-img"><img src="img/Group2157.png" alt="" id="bg-img"></div>

</body>

</html>