<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/newAc.css">
    <script src="https://kit.fontawesome.com/def4642f0d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="man"><img src="img/BusinessGuy.png" alt=""></div>
        <div class="login">
            <h3>Login</h3>

            <form action="/login" method="post">
                <div id="info">
                    <p><input name="userId" type="text" placeholder="User ID" id="inp"></p><br><br>
                    <p><input name="userPass" type="password" placeholder="Password" id="inp"></p><br><br>
                    <button type="submit" id="regBtn">
                        <p><input type="button" value="Login" id="submit"></p>
                    </button>
                </div>
            </form>

        </div>
    </div>

</body>

</html>