<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index11.css">


    </style>
    <title>Quiz</title>
</head>

<body>
    <form action="/preintrores" method="post">
        <div class="container">


            <div class="man"><img src="img/BusinessGuy.png" alt="" id="bGuy"></div>
            
            <% if(predicted_sl==="SL1" ){ %>
            <div class="text-box"><img src="img/preintrores11.png" alt=""></div>
            <% } %>
            <% if(predicted_sl=="SL2" ){ %>
            <div class="text-box"><img src="img/preintrores12.png" alt=""></div>
            <% } %>
            <% if(predicted_sl=="SL3" ){ %>
            <div class="text-box"><img src="img/preintrores13.png" alt=""></div>
            <% } %>
            <% if(predicted_sl=="SL4" ){ %>
            <div class="text-box"><img src="img/preintrores14.png" alt=""></div>
            <% } %>
            <!-- <div class="text-box"><img src="img/preintrores1.png" alt="" id="grp48"></div> -->
            <input type="hidden" name="predicted_sl" value="<%= predicted_sl %>"/>

            <div class="opt" id="opt-1">
                <input type="hidden" name="option1" id="option1" value="grey">
                <img id="opt1-img" src="img/preintrobox.png" alt="" onclick="pregreen(1)">
                <p onclick="pregreen(1);setOptionsVisibilty(false);" style="font-size: 25px;width: 350px;">Yes</p>

            </div>
            <div class="opt" id="opt-3">
                <input type="hidden" name="option3" id="option3" value="grey">
                <img id="opt3-img" src="img/preintrobox.png" alt="" onclick="pregreen(3)">
                <p onclick="pregreen(3);setOptionsVisibilty(true);" style="font-size: 22px;width: 150px;">No, I want to select manually</p>
            </div>

            <div style="display: none;flex-direction: column;" id="right-options">
                <div class="text-box1"><img src="img/preintrores2.png" alt="" id="grp48"></div>
                
                <div style="position: absolute;left: 60%;top: 30%;">
                <div class="opt1" id="opt1-1">
                    <input type="hidden" name="SL1" id="option11" value="grey">
                    <img id="opt11-img" src="img/preintrobox.png" alt="" onclick="resgreen(1)">
                    <p onclick="resgreen(1)" style="font-size: 22px;width: 150px;position: absolute;top: 28px;left: 8px;">SL1</p>
                </div>
                <div class="opt1" id="opt1-2">
                    <input type="hidden" name="SL2" id="option12" value="grey">
                    <img id="opt12-img" src="img/preintrobox.png" alt="" onclick="resgreen(2)">
                    <p onclick="resgreen(2)" style="font-size: 22px;width: 150px;position: absolute;top: 118px;left: 8px;">SL2</p>
                </div>
                <div class="opt1" id="opt1-3">
                    <input type="hidden" name="SL3" id="option13" value="grey">
                    <img id="opt13-img" src="img/preintrobox.png" alt="" onclick="resgreen(3)">
                    <p onclick="resgreen(3)" style="font-size: 22px;width: 150px;position: absolute;top: 208px;left: 8px;">SL3</p>
                </div>
                <div class="opt1" id="opt1-4">
                    <input type="hidden" name="SL4" id="option14" value="grey">
                    <img id="opt14-img" src="img/preintrobox.png" alt="" onclick="resgreen(4)">
                    <p onclick="resgreen(4)" style="font-size: 22px;width: 150px;position: absolute;top: 288px;left: 8px;">SL4</p>
                </div>
                
                
            </div>

            </div>


            <button type="submit" id="submit"><img src="img/Group2142.png" alt=""></button>







        </div>


    </form>
    <script>
        //function to change visibilty of right-options div with bool value
        function setOptionsVisibilty(isVisible){
            const x = document.getElementById("right-options");
            if(isVisible){
                x.style.display = 'flex';
            }else {
                x.style.display = 'none';
            }
        }
    </script>
    <script src="js/ques.js"></script>
</body>

</html>