* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 40, 1) 0%,
    rgba(0, 153, 153, 1) 100%
  );
  height: 100vh;
  overflow-y: hidden;
  padding: 20px;
}
.bg-img {
  position: relative;
  top: 280px;
  z-index: -1;
}
#bg-img {
  height: 60vh;
  width: 100%;
}

.sl-img {
  display: block;

  height: 250px;
  width: 500px;
  position: relative;
}

#sl-img {
  height: 100%;
  width: 100%;
}

#txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Londrina solid";
  font-style: normal;

  font-size: 50px;
  line-height: 80px;
  color: white;
}

#txt p {
  text-align: center;

  display: inline-block;
  position: relative;
  top: 0em;
}

#btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0em;
  right: 15em;
  width: 100px;
}
#btn button {
  cursor: grab;
  border: 0px;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.analysis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.analysis2 {
  display: flex;
  flex-direction: column;
  font-family: "Londrina solid";
  font-style: normal;

  font-size: 16px;
  color: white;
  position: absolute;
  right: 70px;
  top: 110px;
}
.recres {
  display: flex;
  flex-direction: row;
}
#recres-p {
  position: relative;
  top: 55px;
  left: 35px;
  width: 650px;
  font-size: 17px;
}
.questionWiseSL {
  display: flex;
  flex-direction: column;
  font-family: "Londrina solid";
  font-style: normal;

  font-size: 18px;
  color: white;

  width: 50vw;
  position: relative;
  top: 3em;
  left: 5em;
}

.SLmeter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Londrina solid";
  font-style: normal;

  font-size: 35px;
  line-height: 45px;
  color: white;
  width: 50vw;

  position: relative;
  top: 3em;
}

.quesResult {
  position: absolute;
  top: 350px;
  left: 50px;
  font-weight: 400;
}
